$particle-color: rgb(57, 176, 255);
$glow-color: rgb(112, 198, 255);

.w {
  &-particle {
    background-color: $particle-color;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 $glow-color;
    pointer-events: none;
    position: absolute;
  }
}