.w {
  &-text3d {
    color: rgb(210, 233, 255);
    display: inline-block;
    pointer-events: none;
    position: absolute;
    text-shadow: 0 0 5px white;

    a {
      color: rgb(150, 200, 255);
      display: inline-block;
      pointer-events: all;
      transition: all 0.2s;

      &:hover {
        color: rgb(170, 220, 255);
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
}