.w {
  &-text3d {
    color: rgb(210, 233, 255);
    display: inline-block;
    pointer-events: none;
    position: absolute;
    text-shadow: 0 0 5px white;

    a {
      color: rgb(100, 200, 255);
      display: inline-block;
      pointer-events: all;
      text-decoration: none;
      transition: all 0.3s;

      &:hover {
        color: rgb(120, 220, 255);
      }

      &:active {
        background-color: rgba(100, 100, 255, 0.3);
        transform: scale(0.8);
      }
    }
  }
}