body {
  background: linear-gradient(to bottom, rgb(55, 9, 129), rgb(108, 75, 184));
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.creation-block {
  padding: 20px;

  &--title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
  }

  &--image {
    background-color: #aaf;
    border-radius: 5px;
    display: flex;
    margin: 10px 0;
    opacity: 0.8;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}